# Byte-compiled files
__pycache__/
*.py[cod]

# Database files
*.sqlite3
# Environment variables
.env
# Static files
/static/
media/
# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# Local settings
local_settings.py
# Other files
*.log
*.pot
*.pyc
*.pyo
# Coverage reports
.coverage
coverage.xml
htmlcov/
# Jupyter Notebook files
.ipynb_checkpoints
# Other
.DS_Store
Thumbs.db